 
.container{
    width: 100vw;
     display: flex;
    justify-content: center;
    background: white;
 


}

.sub_container{
    width: calc(100% - 100px);
    height: 90%;
     margin-top: 50px;
     margin-bottom: 50px;
    border-radius: 20px;
    background: rgba(238, 230, 204, 0.144);
    box-shadow: 0 0 5px 2px rgba(146, 146, 146, 0.068);


}

.heading{
    padding: 80px;
    font-size: 55px;
    padding-top: 70px;
    padding-bottom: 20px;
    
}

.heading .element h4{
    font-weight: 500;
    color: var(--secondary-color);
}


.heading .element h6{
    font-weight: 200;
    font-size: 19px;
    color: black;
}

.filter_navigation{
    width: calc(100% - 160px);
    margin: 80px;
     height: 40px;
    position: relative;
    margin-bottom: 80px;
 }
.featured_button{
    width: 150px;
    height: 90%;
    margin-top: 3px;
    background: var(--secondary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.featured_button h6{
    color: white;
    font-size: 17px;
    font-weight: 300;
}
select{
     float: right;
    background: black;
    box-shadow: 0 1px 3px 1px rgba(20, 20, 20, 0.596);
    height: 90%;
    margin-top: 5px;
    border: none;
    width: 170px;
    border-radius: 15px;
    padding-left: 10px;
    color: white;
    outline: none;
 }
 option{
    padding-left: 10px;
 }

 .cards_container{
     
     width: calc(100% - 60px);
    margin-bottom: 100px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
  }
 
.card{
     
    display: grid;
    grid-template-rows: 6fr 2fr 1fr;
    width: 240px;
    background: white;
    box-shadow: 0 0 7px 1px rgba(131, 131, 131, 0.349);
    border-radius: 8px;
    padding: 0px;
    height: 360px;
    margin-right: 50px;
    margin-bottom: 50px;


}
.image{
    border-radius: 8px;
     
}
.image img{
    width: 100%;
    height: 95%;
    border-radius: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 0 4px 1px rgba(145, 145, 145, 0.397);



}

.description{
     padding: 7px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.name{
     
}
.name h6{
    font-weight: 400;
    font-size: 16px;

}
.location p{
    font-weight: 200;
    font-size: 15px;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    height: 50px;
    width: 50px;
    border: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    margin-top: -7px;
    justify-content: center;
    border-radius: 4px;
}

.box h6{
    color: rgb(233, 61, 49);
    font-size: 14px;
    font-weight: 300;
}

.box span{
    color: black;
    font-size: 13px;
    font-weight: 400;
}


.sub{
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: rgb(233, 61, 49);

}


.rating{
    display: flex;
    align-items: center;
    color: rgb(2, 2, 2);


}

.rating h5{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 300;
    color: rgba(11, 0, 22, 0.863);
}

.rating i{
    color: gold;
    margin-top: -5px;
    padding-right: 5px;
    
}
.type h5{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 300;
}
@media (max-width: 1000px){

.sub_container{
    width: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.144);
 

}


.cards_container{
     
    height: max-content;
    width: calc(100% - 20px);
    margin-bottom: 100px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    
 }

.heading{
    padding: 60px;
    font-size: 45px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin: -40px;
    
}


.heading .element h6{
    font-weight: 200;
    font-size: 18px;
    color: black;
}


.filter_navigation{
    width: calc(100% - 10px);
    margin: 10px;
    margin-top: 60px;
     height: 30px;
    position: relative;
    margin-bottom: 80px;
  }
.featured_button{
    width: 100px;
    height: 90%;
    margin-top: 3px;
    background: var(--secondary-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.featured_button h6{
    color: white;
    font-size: 14px;
    font-weight: 300;
}
select{
     float: right;
    background: black;
    box-shadow: 0 1px 3px 1px rgba(20, 20, 20, 0.596);
    height: 90%;
    margin-top: 0px;
    border: none;
    width: 100px;
    border-radius: 7px;
    padding-left: 10px;
    color: white;
    outline: none;
 }
 option{
    padding-left: 10px;
 }

}