<?php
     

?>

<div class="container">
    <div class="sub_container">
        <div class="overlay">
            <div class="heading">
                <div class="element">
                    <h4>OUR FACILITIES</h4>
                </div>
                <div class="element">
                    <h6>Parce Through Our Available Facilities </h6>
                </div>
            </div>

            <div class="filter_navigation">
                <select>
                    <option>NAME</option>
                    <option>DATE</option>
                    <option>LOCATION</option>
                </select>
                <div class="featured_button">
                     <h6>FEATURED</h6>
                </div>
            </div>

                <div class="cards_container">

                    
                    <!--
                         <div class="card">
                        <div class="image">
                            <img src="images/bed.jpg">

                        </div>
                        <div class="description">
                            <div class="name">
                                <h6>Property Name</h6>
                                <div class="location"><p>Manchester</p></div>
                            </div>
                            <div class="price">
                                <div class="box">
                                    <h6>3500 <br><span>GHC</span></h6>
                                </div>

                            </div>
                        </div>

                        <div class="sub">
                            <div class="type">
                                <h5>HOSTEL</h5>
                            </div>
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <h5>4.1</h5>
                            </div>
                        </div>
                        
                    </div> -->
                    
            

                    <?php
                        foreach($result_array as $facility => $values) {
                            facilitycard($values['facility_name'], $values['facility_location'], $values['facility_contact'], 'images/bed.jpg', $values['facility_type'], $values['rating']);
                    }
                     ?>
                </div>
              

            </div>

        </div>
    </div>
    
 