<header class = 'p-rel'>

    <div class = 'header-content p-rel z-3 full-hw flex-col flex-center text-center'>
        <div class = 'header-title'>
            <h1><span>AFFORDABLE</span> HOUSING AT YOUR <br> FINGER <span>TIPS</span></h1>
        </div>

        <div class = 'header-input flex-row p-rel'>
            <div class = 'p-rel z-1'>
                <input class = 'p-rel z-2' type = 'text' name = 'search' placeholder="Search for your oasis..." onkeyup = "search(this.value);">
                <div class = 'search-result p-abs full-w z-1'>
                    <div class = 'tab'>
                        No Result Found
                    </div>
                </div>
            </div>
            <div class = 'dropdown p-rel z-2'>
                <div class = 'placeholder flex-row flex-around full-hw'>
                    <span class = 'value'>GUESTHOUSES</span>
                    <i class = 'bi bi-chevron-down'></i>
                </div>

                <div class = 'options p-abs full-w ov-hidden'>
                    <div class = 'option full-w' onclick = 'set_value(this.innerText, ".dropdown .value"); type = "hostel";'>HOSTEL</div>
                    <div class = 'option full-w' onclick = 'set_value(this.innerText, ".dropdown .value"); type = "homestel";'>HOMESTELS</div>
                    <div class = 'option full-w' onclick = 'set_value(this.innerText, ".dropdown .value"); type = "hotel";'>HOTELS</div>
                    <div class = 'option full-w' onclick = 'set_value(this.innerText, ".dropdown .value"); type = "guesthouse";'>GUESTHOUSES</div>
                </div>
            </div>
            
        </div>
    </div>

    <div class = 'bg-image p-abs top-left full-hw ov-hidden z-1'>
        <img src = 'images/opion_header_image.jpg' class = 'obj-fit'>
    </div>

    <div class = 'overlay p-abs top-left full-hw ov-hidden z-2'></div>
</header>

