
<div class = 'signup-box full-vhw flex-row'>
    <div class = 'left full-h p-rel'>

        <div class = 'bg-image p-abs top-left full-hw ov-hidden '>
            <img src = '<?php echo $environment_link . 'images/opion_header_image.jpg';?>' class = 'obj-fit p-rel z-1'>
            <div class = 'overlay p-abs top-left full-hw z-1 flex-row'>
                <h1>
                    <span>AFFORDABLE</span> <br>
                     HOUSING  <br>
                     YOU CAN <span>TRUST</span></h1>
            </div>
        </div>
    </div>
    <div class = 'right full-h flex-center'>
        <form>
            <div class = 'top'>
                <h3>Sign Up</h3>
                <p>Create an account to start using H-CUBE</p>
            </div>

            <div class = 'form'>
                <div class = 'input'>
                    <label>Full Name</label>
                    <input>
                </div>

                <div class = 'input'>
                    <label>Phone Number</label>
                    <input>
                </div>

                <div class = 'input'>
                    <label>Email</label>
                    <input>
                </div>

                <div class = 'input'>
                    <label>Gender</label>
                    <input>
                </div>

                <div class = 'input'>
                    <label>Gender</label>
                    <input>
                </div>

                <div class = 'input'>
                    <label>Gender</label>
                    <input>
                </div>
            </div>
        </form>
    </div>
</div>