
input {
    border: none;
    outline: none;
}

header {
    background: rgb(34, 33, 31);
    background-blend-mode: overlay;
    border-radius: 2rem;
    box-shadow: 0 0 20px var(--shadow);

    color: var(--primary-color);

    height: 80vh;
    width: 90vw;

    left: 50%;
    margin-top: .75rem;
    transform: translateX(-50%);
}

header .bg-image, header .overlay {
    border-radius: 2rem;
}

header .overlay {
    background: var(--overlay);
}

header h1 {
    font-weight: 900;
    font-size: 290%;
}

h1 span {
    color: var(--secondary-color);
}

header .header-input {
    margin: 1.5rem 0;
    box-shadow: 0 0 20px var(--shadow);
    width: max-content;
    border-radius: 5rem;
}

header input {
    border-radius: 5rem 0 0 5rem;
    height: 55px;
    padding: 1rem;
    width: 600px;
    font-size: 120%;
}

header .dropdown {
    background: var(--secondary-color);
    border-radius: 0 5rem 5rem 0;
    color: var(--primary-color);
    width: 200px;
    height: 55px;
}

@media (max-width: 970px) {
    header input {
        width: 50vw;
        height: 50px;
        font-size: 100%;
    }

    header .dropdown {
        height: 50px;
        width: 16.6666vw;

    }

    header h1 {
        font-weight: 900;
        font-size: 220%;
    }
}

@media (max-width: 824px) {
    header input {
        width: 60vw;
    }

    header .dropdown {
        width: 20vw;

    }
}

@media (max-width: 705px) {

    header h1 br {
        display: none;
    }
    header h1 {
        padding: 0 1rem;
    }
}

@media (max-width: 620px) {
    header input {
        width: 50vw;
    }

    header .dropdown {
        width: 30vw;
    }

    header h1 {
        font-size: 180%;

    }
}

@media (max-width: 657px) {
    section .homecard {
        width: 100vw;
    }
    body section {
        padding: 1rem !important;
    }
}

@media (max-width: 475px) {
    .header-input {
        flex-direction: column;
    }

    header input {
        border-radius: 5rem;
        width: 80vw;
        margin-bottom: .5rem;
        height: 45px;
    }

    header .dropdown {
        border-radius: 5rem;
        width: 80vw;
        margin-bottom: .5rem;
        height: 45px;
    }

    /* header h1 {
        font-weight: 900;
        font-size: 220%;
    } */

    header h1 br {
        display: none;
    }
}


.dropdown .options {
    background: var(--primary-color);
    border-radius: 0 20px 20px 20px;
    color: #222;

    display: none;
    opacity: 0;
    /* transition: opacity .3s ease-in-out .5s, display 0s ease 0s; */
}

.dropdown .option {
    cursor: pointer;
    text-align: start;
    padding: .5rem;
}

.option:hover {
    background: var(--tetiary-color);
    color: var(--primary-color);
}

.dropdown:hover .options {
    display: block;
    opacity: 1;
}

.dropdown:hover .bi {
    transform: rotateX(180deg);
}

section {
    left: 50%;
    margin-top: .75rem;
    transform: translateX(-50%);
}
