*{
    --primary-color: #ffffff;
     --secondary-color: #ff3f4c;
    --tetiary-color: #5f07cb;
    --overlay: #000000de;
    --shadow: #36363659;
    --card-shadow: #50505034;
    --white-overlay: whitesmoke;
    --dark-shade: #222222;
    --icon-dark: #00000061;
    
}


input {
    border: none;
    outline: none;
}